body {
	text-align: center;
}

button {
	margin-bottom: 1px;
	background-color: blue;
	border-radius: 20px;
	width: 100px;
	height: 30px;
	color: #fff;
}

#clear {
	margin-left: 100px;
	background-color: red;
}

.container {
	margin: auto;
	width: 960px;
	height: 960px;
	border: black solid 1px;
}
.row {
	clear: left;
}

.tile {
	float: left;

}

.selected {
	background-color: #999999;
}